<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn forever</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/main.css')}}">
    <link rel="stylesheet" href="/static/style/main.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />
</head>

<body>

</body>
<header>
    <h2>Learn forever</h2>
    <div class="link">
        <ul class="ulbar">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/student">Blog</a></li> -->
            <li><a href="/admin">Admin</a></li>

        </ul>
    </div>

    <div class="search-container">
        <span class="material-symbols-outlined search-icon">search</span>
        <input type="text" placeholder="Search Google or type a URL" class="search-input">
    </div>
    <div class="login">
        <button class="login1">login</button>
        <button class="sign">sign in</button>
    </div>

</header>
<main>
    <div class="image">

    </div>
    <div class="card-container">
        {% for s in list %}
        <div class="card">
            {% if s[3] %}
            <div class="card-image">
                <img src="{{ url_for('static', filename='uploads/' ~ s[3]) }}" alt="image">
            </div>
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{ s[1] }}</h3> <!-- title -->
                <p class="card-date">{{ s[2] }}</p> <!-- date -->
                <p class="card-content">{{ s[4] }}</p> <!-- content -->
              
            </div>
            <!-- <div class="card-actions">
                <a href="{{ url_for('edit_news', id=s[0]) }}" class="btn edit-btn">Edit</a>
                <a href="{{ url_for('delete_news', news_id=s[0]) }}" class="btn delete-btn">Delete</a>
            </div> -->
        </div>
        {% endfor %}
    </div>


</main>
</body>

</html>
